{# Used by form_fields template tag; do not include directly #}

{% for field in form %}
  {% if field.is_hidden %}
    {{ field }}
  {% else %}
    <div class="control-group {{ field.errors|yesno:'error,' }}">
      <label class="control-label"
          for="{{ field.auto_id }}">{{ field.label }}</label>
      <div class="controls">
        {{ field }}
        {% if field.errors %}
          <span class="help-block">{{ field.errors }}</span>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}
