{% load olive %}

{% if page.has_other_pages %}
  <hr>
  <div class="paginator">
    {% if page.has_previous %}
      <a href="{% page page.previous_page_number %}"><i class="icon-chevron-left"></i></a>
    {% endif %}
    {% for n in neighbors %}
      {% if n == page.number %}
        <strong>{{ n }}</strong>
      {% else %}
        <a href="{% page n %}">{{ n }}</a>
      {% endif %}
    {% endfor %}
    {% if page.has_next %}
      <a href="{% page page.next_page_number %}"><i class="icon-chevron-right"></i></a>
    {% endif %}
  </div>
{% endif %}
