nonpublic/
bin/
image/
cloudlet_env/
test/memory_snapshot/
src/tmp/
*.a
*.o
*.cproject
*.lzma
*.qcow2
*.mem
*.pyc
*.class
src/log_synthesis/
paper/
src/kvm-qemu/ 
src/ec2/image/
src/app/graphics/bin/
src/app/graphics/lib/linux/x86_64/release/
src/app/graphics/.sconsign.dblite
src/server/config/cloudlet.db
