{% extends "base.html" %}

{% load olive %}
{% load compress %}

{% block title %}Cloudlet{% endblock %}
{% block container-class %}container{% endblock %}

{% block css %}
{{ block.super }}
{% compress css %}
<style type="text/less">
p {
  margin-bottom: 2em;
}
</style>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span3"></div>  {# dummy for first-child #}
  <div class="span6">
    <form class="form-horizontal" method="post">
      {% block form %}
      <legend>{% block legend %}{% endblock %}</legend>


      {% if form.non_field_errors %}
      <div class="alert alert-error">
        {{ form.non_field_errors }}
      </div>
      {% endif %}

      {% csrf_token %}

      {% block before-fields %}{% endblock %}

      {% form_fields form %}

      {% block after-fields %}{% endblock %}

      <div class="controls">
        {% block controls %}
        {% block before-controls %}{% endblock %}
        <button type="submit" class="btn btn-primary">{% block submit %}{% endblock %}</button>
        {% block after-controls %}{% endblock %}
        {% endblock %}
      </div>
      {% endblock %}
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% compress js %}
<script type="text/javascript">
$(function() {
  $('.form-horizontal input:visible:first').focus();
});
</script>
{% endcompress %}
{% endblock %}
