{% extends "base.html" %}

{% load olive %}
{% load compress %}

{% block title %}Cloudlet{% endblock %}
{% block container-class %}container{% endblock %}

{% block css %}
{{ block.super }}
{% compress css %}
<style type="text/less">
.hero-unit {
  margin-bottom: 25px;
  h1 {
    margin-bottom: 0.5em;
  }
}
.container h3 {
  margin: 0;
}
</style>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>Elijah Cloudlet</h1>
    <p>A cloudlet is a new architectural element  that arises from the convergence of mobile computing and cloud computing.  It represents the middle tier of a 3-tier hierarchy:  mobile device --- cloudlet --- cloud.   A cloudlet can be viewed as a "data center in a box" whose  goal is to "bring the cloud closer".    A cloudlet has four key attributes </p>
</div>

{% endblock %}
