{% extends "base.html" %}

{% load olive %}
{% load compress %}

{% block title %}Cloudlet{% endblock %}
{% block container-class %}container{% endblock %}

{% block css %}
{{ block.super }}
{% compress css %}
<style type="text/less">
.hero-unit {
  margin-bottom: 25px;
  h1 {
    margin-bottom: 0.5em;
  }
}
.container h3 {
  margin: 0;
}
</style>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>Elijah Cloudlet</h1>
	<p>A cloudlet is a new architectural element  that arises from the convergence of mobile computing and cloud computing.  It represents the middle tier of a 3-tier hierarchy:  mobile device --- cloudlet --- cloud.   A cloudlet can be viewed as a "data center in a box" whose  goal is to "bring the cloud closer".    A cloudlet has four key attributes </p>


	<ul>
		<li>
			<span style="color: red; font-weight: bold;">only soft state:&nbsp;</span>&nbsp;
			It
			is does not have any hard state, but may contain cached state from the
			cloud.&nbsp; It may also buffer data originating from a mobile device
			(such as video or photographs) en route to safety in the cloud.&nbsp;
			The avoidance of hard state means that each cloudlet adds close to zero
			management burden after installation:&nbsp; it is entirely
			self-managing.&nbsp;&nbsp;&nbsp; <br>
		</li>
		<li>
			<span style="font-weight: bold; color: red;">powerful, well-connected and
				safe:</span>&nbsp; It
			possesses sufficient compute power (i.e., CPU, RAM, etc.) to offload
			resource-intensive computations from one or more mobile devices.&nbsp;
			It has excellent connectivity to the cloud (typically a wired Internet
			connection) and is not limited by finite battery life (i.e., it is
			plugged into a power outlet).&nbsp;&nbsp;&nbsp; Its integrity as a
			computing platform is assumed; in a production-quality implementation
			this will have to be enforced through some combination of
			tamper-resistance, surveillance, and run-time attestation.<br>
		</li>
		<li>
			<span style="font-weight: bold; color: red;">close at hand:&nbsp;</span> It
			is logically proximate to the associated mobile devices. "Logical
			proximity" is defined as&nbsp; low end-to-end latency and high
			bandwidth (e.g., one-hop Wi-Fi).&nbsp;&nbsp; Often, logical proximity
			implies physical proximity.&nbsp; However, because of "last mile" effects, the
			inverse may not be true: physical proximity may not imply logical
			proximity.<br>
		</li>
		<li>
			<span style="font-weight: bold;"><span style="color: red;">builds on
					standard cloud technology:</span> </span>It encapsulates offload code
			from mobile devices in&nbsp; virtual machines (VMs), and thus resembles classic cloud
			infrastructure such as <a href="http://aws.amazon.com/ec2/">Amazon EC2</a> and <a href="http://openstack.org">OpenStack</a>.&nbsp; In
			addition, each cloudlet has functionality that is specific to its cloudlet role.<br>
		</span></li>
	</ul>
	<br />
	<h3>
		For details, please visit <a href="http://elijah.cs.cmu.edu" target="_blank" />Elijah-Cloudlet</a>.
	</h3>
</div>

{% endblock %}
