{% extends "base.html" %}

{% load olive %}
{% load compress %}

{% block title %}Cloudlet{% endblock %}
{% block container-class %}container{% endblock %}

{% block css %}
{{ block.super }}
<style type="text/less">
.hero-unit {
  margin-bottom: 25px;
  h1 {
    margin-bottom: 0.5em;
  }
}
.container h3 {
  margin: 0;
}
</style>
{% endblock %}

{% block content %}

{% if latest_cloudlet_list %}
<table class="table table-striped table-bordered table-hover">
	<tr>
		<thread>
		<th>ID</th>
		<th>Status</th>
		<th>Latitude</th>
		<th>Logitude</th>
		<th>Update Time</th>
		<th>Connect</th>
		</thread>
		<tbody>
			{% for cloudlet in latest_cloudlet_list %}
			<tr>
			<td align="center">
				<div id="browse_app">
					<a class="btn btn-info" href="{% url 'cloudlet-cloudlet-detail' cloudlet.id %}">{{ cloudlet.id }}</a>
				</div>
			</td>
			<td>{{cloudlet.status}}</td>
			<td>{{cloudlet.latitude}}</td>
			<td>{{cloudlet.longitude}}</td>
			<td>{{cloudlet.mod_time}}</td>
			<td>
				<div id="browse_app" align="center">
				{% if cloudlet.status == "RUN" %}
					<a class="btn btn-success" href="http://{{ cloudlet.ip_address }}/horizon" target="_blank">{{cloudlet.ip_address}}</a>
				{% else %}
					{{cloudlet.ip_address}}
				{% endif %}
				</div>
			</td>
			</tr>
            {% endfor %}
		</tbody>
	</tr>
</table>
{% else %}
<p>No cloudlets are available.</p>
{% endif %}

{% endblock %}
