register_server/env/
register_server/ds/network/hostip_db/
register_server/ds/network/db/
register_server/virt/
register_server/mysql.conf
register_server/ds/network/db/
dns_server/twistd.log
dns_server/twistd.pid

