Django==1.5.1
django-tastypie==0.10.0
python-mimeparse==0.1.4
simplejson==1.9.3
MySQL-python==1.2.4
django_compressor==1.3
pygeoip==0.2.5
nodeenv==0.6.5
Markdown==2.3.1
pytz==2013b
BeautifulSoup==3.2.1
lxml==3.3.0
gunicorn==18.0
