{% extends "formbase.html" %}
{% load compress %}

{% block css %}
{% compress css %}
<style type="text/less">
.alert.disclaimer {
  text-align: left;
  h4 {
    margin-bottom: 0.6em;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-top: 0.5em;
    }
  }
}
</style>
{% endcompress %}
{% endblock %}

{% block pagetitle %}Register{% endblock %}

{% block legend %}
Create cloudlet account
{% endblock %}

{% block before-fields %}
<div class="alert alert-block alert-error disclaimer">
  <h4>Experimental System &mdash; Use Caution</h4>
  <ul>
    <li>The Cloudlet system is experimental software, and access is currently
    limited to research collaborators.</li>
    <li>The Cloudlet software may have bugs which could harm your computer.</li>
    <li>Do not rely on the Cloudlet software, or on the contents of the Cloudlet
    archive, for any purpose.</li>
    <li>There are no warranties, express or implied.</li>
  </ul>
</div>
{% endblock %}

{% block submit %}
Sign up
{% endblock %}
